.App {
    text-align: center;
    align-content: center;
}

.App .board {
    display: inline-flex;
    flex-wrap: wrap;
    width: 246px;
}

.App .board .box {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 80px;
}
